################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
[Dd]ebug/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
